<a href="/breweries">Breweries Index</a>
<a href="/beers">Beers Index</a>

<h1>Brewery Information for <%= @brewery.name %></h1>
<p>Name: <%= @brewery.name %></p>
<p>Number of Employees: <%= @brewery.number_of_employees %></p>
<p>Currently has food: <%= @brewery.has_food %></p>
<p>Serves <%= @beers.count %> different beers.</p>
<a href="/breweries/<%= @brewery.id %>/beers">All Beers Served by <%= @brewery.name %></a>
<a href="/breweries/<%= @brewery.id %>/edit">Update Brewery</a>