<h1>Foods in <%= @food_group.name %></h1>
<a href="/food_groups/<%= @food_group.id %>/food/?q=alpha">Sort Alphabetically</a>
<ul>
  <% @foods.each do |food| %>
    <li><%= food.name %>: Number in Stock - <%= food.number_in_stock %>, Is it in stock? - <%= food.in_stock %></li>
  <% end %>
</ul>

<a href="/food_groups/<%= @food_group.id %>/food/new">Create Food</a>

<%= form_with url: "/food_groups/#{@food_group.id}/food", method: :get do |form| %>
<%= form.label :number_in_stock, "Value to Filter by" %>
<%= form.number_field :number_in_stock, step: :any %>
<%= form.submit("Filter") %>
<% end %>
