<a href="/breweries">Breweries Index</a>
<a href="/beers">Beers Index</a>

<h1>All Beers:</h1>
<% @beers.each do |beer| %>
  <p>Beer name: <%= beer.name %> |
    Beer ABV: <%= beer.abv %> |
    Is it an ale? <%= beer.is_an_ale %></p>
    <a href="/beers/<%= beer.id %>/edit">Edit <%= beer.name %>'s Info</a>
    <form action="/beers/<%= beer.id %>" method="POST">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="Delete <%= beer.name %>"/>
    </form>
<% end %>
