<a href="/breweries">Breweries Index</a>
<a href="/beers">Beers Index</a>

<h1>Information for <%= @beer.name %></h1>
<p>Beer ABV: <%= @beer.abv %></p>
<p>Is it an ale? <%= @beer.is_an_ale %></p>

<a href="/beers/<%= @beer.id%>/edit">Update Beer</a>

<form action="/beers/<%= @beer.id %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete this Beer"/>
</form>
